<% if @flag then %>
<div class="result_exp">
<%= image_tag 'circle.png', class:'sym' %>
<h1><%= @msg %></h1>
</div>
<% else %>
<div class="result_exp">
<%= image_tag 'cross.png', class:'sym' %>
<h1><%= @msg %></h1>
</div>
<h2>あなたの答え: <%= @wrong %></h2>
<h2>正しい答え: <%= @ans %></h2>
<% end %>
<% if @cnt == @q_num then %>
<%= form_tag(controller: "calc", action: "result") do %>
<%= submit_tag("最終結果") %>
<%= hidden_field_tag("cnt", @cnt) %>
<%= hidden_field_tag("collect", @collect) %>
<% end %>
<% else %>
<%= form_tag(controller: "calc", action: "sol") do %>
<%= submit_tag("次へ") %>
<%= hidden_field_tag("cnt", @cnt) %>
<%= hidden_field_tag("q_num", @q_num) %>
<%= hidden_field_tag("collect", @collect) %>
<% end %>
<% end %>