<%= javascript_pack_tag 'index' %>
<div class="parent">
<div class="child">
<%= form_tag({controller: "calc", action: "sol"}, {name: :"qinfo", onsubmit: "return checkQnum();"}) do %>
名前:　<input type="text" name="name" required>
<br>
桁数:　<input type="number" name="digit" min="2" required>
<br>
<div class="q_num" style="display:inline-flex">
問題数を数字で入力してください:　<input type="number" name="q_num">
</div>
<br>
<input type="submit" value="ゲームスタート">
<% end %>

<table class="table" border="1" style="border-collapse: collapse">
  <tr>
  <th>プレイヤー</th><th>問題数</th><th>正解数</th><th>解答日</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
  <td align="center"><%= obj.user %></td>
  <td align="center">
    <%= obj.total %></a></td>
    <td align="center">
    <%= obj.correct %></a></td>
    <td align="center">
    <%= obj.created_at.to_s(:datetime_jp) %></a></td>
  </tr>
  <% end %>
</table>
</div>

   <div class="child explain">問題は単なる足し算引き算ですが、表示されたものと異なる式の計算を
   <br>
   考えてもらうものです。
   <br>
   指定された桁数の数字が±の記号を挟んで1桁ずつ順に表示されます。
   <br>
   表示された順に数字を並べて出来上がった式の答えを入力してください。
   <br>
   全ての桁が表示されたら、答えるべき式が右に表示されます。
   </div>
 </div>