<%= javascript_pack_tag 'index' %>
<%= form_tag({controller: "calc", action: "sol"}, {name: :"qinfo", onsubmit: "return checkQnum();"}) do %>
<div class="q_num" style="display:inline-flex">
問題数を数字で入力してください:　<input type="number" name="q_num">
</div>
<br>
<input type="submit" value="ゲームスタート">
<%= hidden_field_tag("cnt", @cnt) %>
<%= hidden_field_tag("collect", @collect) %>
<% end %>

<table class="table">
  <tr>
  <th>user</th><th>Total</th><th>collect</th><th>creat_at</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
  <td><%= obj.user %></td>
  <td>
    <%= obj.total %></a></td>
    <td>
    <%= obj.collect %></a></td>
    <td>
    <%= obj.created_at %></a></td>
  </tr>
  <% end %>
</table>
