<%= javascript_pack_tag 'index' %>
<p class="explain">
このサービスは、計算問題を解くアプリケーションです。<br>
問題は2つの数字と±のみのシンプルなものです。<br>
しかし、式の表示方法が特殊です。2つの数字がだんだん表示されていきます。<br>
表示の順番はランダムです。<br>
さらに、答えてもらう値は、表示された順に各桁を並べた数同士で計算したものです。<br>
正しい式は最後に表示されますが、速く解くためには途中で頭の中で計算しなければなりません。<br>
上手く頭を使ってやってみてください!!
</p>
<%= form_tag({controller: "calc", action: "sol"}, {name: :"qinfo", onsubmit: "return checkQnum();"}) do %>
名前:　<input type="text" name="name" required>
<br>
桁数:　<input type="number" name="digit" min="2" required>
<br>
<div class="q_num" style="display:inline-flex">
問題数を数字で入力してください:　<input type="number" name="q_num">
</div>
<br>
<input type="submit" value="ゲームスタート">
<% end %>

<table class="table" border="1" style="border-collapse: collapse">
  <tr>
  <th>プレイヤー</th><th>問題数</th><th>正解数</th><th>解答日</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
  <td align="center"><%= obj.user %></td>
  <td align="center">
    <%= obj.total %></a></td>
    <td align="center">
    <%= obj.correct %></a></td>
    <td align="center">
    <%= obj.created_at.to_s(:datetime_jp) %></a></td>
  </tr>
  <% end %>
</table>
<%= paginate @data %>
