<%= javascript_pack_tag 'index' %>
<%= form_tag({controller: "calc", action: "sol"}, {name: :"qinfo", onsubmit: "return checkQnum();"}) do %>
名前:　<input type="text" name="name" required>
<br>
桁数:　<input type="number" name="digit" min="1" required>
<br>
<div class="q_num" style="display:inline-flex">
問題数を数字で入力してください:　<input type="number" name="q_num">
</div>
<br>
<input type="submit" value="ゲームスタート">
<% end %>

<table class="table">
  <tr>
  <th>user</th><th>Total</th><th>correct</th><th>creat_at</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
  <td><%= obj.user %></td>
  <td>
    <%= obj.total %></a></td>
    <td>
    <%= obj.correct %></a></td>
    <td>
    <%= obj.created_at.to_s(:datetime_jp) %></a></td>
  </tr>
  <% end %>
</table>
