<h1 style="text-align:center">第<%= @cnt %>問</h1>
<div class="equation">
<div style="display:inline-flex">
  <%= @num1 %><%= @op %><%= @num2 -%>=
  <%= form_tag(controller: "calc", action: "ans") do %>
  <%= number_field_tag("input_ans", "", {class:"form-control"}) %>
</div>
<br>
</div>
<%= submit_tag("答え合わせ") %>

<%= hidden_field_tag("ans", @ans) %>
<%= hidden_field_tag("cnt", @cnt) %>
<%= hidden_field_tag("q_num", @q_num) %>
<%= hidden_field_tag("collect", @collect) %>
<% end %>
